version: '3.8'
services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=hackathon
      - POSTGRES_DB=alumni_db
    ports:
      - "5432:5432"
volumes:
  postgres_data:
